<div class="container">

    <div class="row mt-2">

        <div div class="col-12 text mt-5 card shadow">
            <h4 class="mt-4 ms-2 fw-bold">Modifica un Articolo</h4>
            <p class="text-secondary ms-2">Con questo form potrai aggiungere un nuovo Articolo allo Shop</p>

            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="row ml-1 mr-1 mb-1">

                    <div class="col-12 md:col-4">
                        <div class="p-fluid">
                            <h6>Nome Articolo</h6>
                            <input type="text" pInputText formControlName="nomeDocente" class="form-control" class="p-inputtext-sm">
                            <p class="text-secondary ml-1 small">Modifica il nome dell'articolo</p>
                            <span class="ml-2"></span>
                        </div>
                    </div>

                    <div class="col-12 md:col-4">
                        <div class="p-fluid">
                            <h6>Costo Articolo</h6>
                            <input type="text" pInputText formControlName="cognomeDocente" class="form-control" class="p-inputtext-sm">
                            <p class="text-secondary ml-1 small">Modifica il prezzo che vuoi far pagare per questo articolo</p>
                            <span class="ml-2"></span>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-2 mt-5">
                        <div class="d-grid">
                            <div class="btn btn-primary mb-3" (click)="goBack()">Annulla</div>
                        </div>
                    </div>


                    <div class="col-lg-3 mt-5" style="float:right;">
                        <div class="d-grid">
                            <button class="btn btn-success mb-3">Modifica il Prodotto</button>
                        </div>
                    </div>
                </div>

            </form>

        </div>

    </div>

</div>